<h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= pluralize(@book.errors.count, "error has") %> occurred.
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @book do |f| %>

 <p>Title</p>
 <%= f.text_field :title %>

 <p>Body</p>
 <%= f.text_area :body %>

 <%= f.submit 'Update Book' %>

<% end %>


<div class="wrap2">
  <span class="link-1"><%= link_to "Show", book_path(@book.id) %></span>
  <span class="link-2"><%= link_to "Back", books_path %></span>
</div>